body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.g_id_signin, .ms-login {
    display: inline-block;
    margin-top: 20px;
}

.ms-login {
    padding: 10px 20px;
    background-color: #2F2F2F;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ms-login:hover {
    background-color: #1A1A1A;
}
